/* General styles for the page */
.perfil-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d3d3d3;
}

/* Header styles */
.perfil-header {
    background-color: #c0c0c0;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

/* Container for the sidebar and content */
.perfil-container {
    display: flex;
    flex: 1;
}

/* Sidebar styles */
.sidebar {
    width: 50px;
    background-color: #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-icon {
    width: 30px;
    height: 5px;
    background-color: black;
    border-radius: 2px;
}

/* Content styles */
.perfil-content {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.info {
    text-align: left;
    font-size: 18px;
    color: black;
    line-height: 2;
}

.foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 120px;
    height: 120px;
    background-color: #808080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border: 2px solid #6c6c6c;
}
    /* Footer styles */
.perfil-footer {
    background-color: #808080;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: black;
}
